---
interface Props {
  className?: string
}

const { className = '' } = Astro.props
---

<h2 class=`text-2xl text-primary-content font-semibold gap-2 mb-6 flex flex-col ${className}`>
  <slot />
  <div class='bg-border-color flex h-[1px] w-full' />
</h2>