---
interface Props {
  className?: string
}

const { className = '' } = Astro.props
---

<h1 class=`${className} sm:text-2xl text-xl md:text-3xl font-bold text-primary-content mb-4`>
  <slot />
</h1>